@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


body {
    font-family: 'Mukta', sans-serif;
    padding: 0px;
    margin: 0px;
}

.logo {
    font-weight: bolder;
    font-size: 40px;
    margin-top: 15px;
    margin-left: 40px;
    padding: 0px;
    max-width: 560px;
}

.header {
    color: rgb(233, 226, 217);
    text-align: center;
    background-image: url(images/hero-image.png);
    background-size: cover;
    width: 100%;
    height: 600px;
    padding: 0 auto;
    display: inline-block;
}

.header p {
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 0px;
    position: relative;
    top: 30%;
}

.header span {
    font-size: 20px;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 0px;
    position: relative;
    top: 30%;
}

.header button {
    font-size: 16px;
    background-color: transparent;
    border: 3px solid rgb(233, 226, 217);
    color: rgb(233, 226, 217);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 6px;
    position: relative;
    top: 40%;
    right: 25%;
    cursor: pointer;
}

.nav {
    margin-top: 5px;
}

.nav ul {
    list-style: none;
}

.nav li {
    color: rgb(71, 71, 71);
    font-weight: 600;
    font-size: 22px;
    float:left;
    padding: 10px 40px;
    margin-left: 110px;
    width: fit-content;
}

.nav li:hover {
    color: rgb(233, 226, 217);
    background-color: rgb(71, 71, 71);
    border-radius: 4px;
    cursor: pointer;
}

.columns {
    background-color: rgb(238, 235, 232);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    column-count: 2;
    width: 800px;
    position: relative;
    top: 10px;
    left: 10px;
    padding-top: 10px;
}

.col_pics {
    break-inside: avoid;
    margin-left: 30px;
    width: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.col_content p{
    font-size: 22px;
    font-weight: 700;
    position: relative;
    right: 35%;
}

.col_content span{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    right: 35%;
    bottom: 5px;
}

#one {
    position: relative;
    top: 20px;
}

#two {
    position: relative;
    top: 40px;
}

#three {
    position: relative;
    top: 60px;
}

.col_content button {
    font-size: 12px;
    background-color: transparent;
    border: 2px solid rgb(71, 71, 71);
    color: rgb(71, 71, 71);
    border-radius: 6px;
    padding: 6px;
    position: relative;
    top: 40%;
    right: 35%;
    cursor: pointer;
}



.col_archive {
    break-inside: avoid;
    margin-left: 70%;
    position: absolute;
    top: 130%;
}

.col_archive span {
    font-size: 18px;
}

.col_archive p {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.col_archive ul {
    list-style: circle inside;
    text-align: center;
}

.col_archive li {
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
}

.col_archive li:hover {
    font-weight: 800;
    list-style-type: disc;
}

footer {
    text-align: center;
}